p{
  font-size: 80px;
  font-family: Arial;
  text-align: center;
  vertical-align: middle;
}
button{
  width: 120px;
  height: 45px;
  font-size: 20px;
}
div{
  width: 1000px;
  margin: 0 auto;
}
.btn{
  width: 300px;
  margin: 0 auto;
}
